<!-- Welcome Commander What's New on your Creative Mind' -->

{% extends 'ticketGenerator/basic.html' %}
	{% block content %} 
	{% load static %}
	
<div class = "tableArea">
	<h2 class = "h3Design">DISPUTE TICKET</h2>
	<div class = "tableLogo">
		<div class="topnav">
		<a class="active" href="#home">My Tickets</a>
		<a href="#news">Knowledge</a>
		<a href="#contact">Announcements</a>
		</div>
	</div>
	
	<div class = "ticketSearch">
		<input  type = "search" placeholder = "Find Tickets">
				<button type="button" class = "buttonStart" name="name" value="kuchbhi" onclick="kuchbhi"><a href ="{% url 'ticketGenerator:generateNewTicket' %}"><div class = "plusSign">+</div><div class = "tickteAdding">Add New Ticket</div></a></button>
	</div>
	<p class = "searchParagrapg">7 Tickets Total</p>

	<div class = "ticketShowOption">
	<label class="main">ALL
		<input type="checkbox">
		<span class="geekmark"></span>
	</label>
		<label class="main">ON HOLD
		<input type="checkbox">
		<span class="geekmark"></span>
	</label>
		<label class="main">IN PROGRESS
		<input type="checkbox">
		<span class="geekmark"></span>
	</label>
		<label class="main">COMPLETED
		<input type="checkbox">
		<span class="geekmark"></span>
	</label>	
	</div>
	<div class = "tableData">
		<table cellspacing="5" cellpadding="20">
			<tr>
				<th>Ticket ID</th>
				<th>Subject</th> 
				<th>Description</th>
				<th>Status</th>
				<th>Last update</th>
				<th>Support</th>
			</tr>
			<tr>
				<td>3459 </td>
				<td>Not Delivery yet</td>
				<td>Derived from Latin dolorem ipsum (“pain itself”), Lorem Ipsum</td>
				<td>ON hold</td>
				<td>May, 15,2021</td>
				<td>Yash</td>
			</tr>
			<tr>
				<td>3459 </td>
				<td>Not Delivery yet</td>
				<td>Derived from Latin dolorem ipsum (“pain itself”), Lorem Ipsum</td>
				<td>ON hold</td>
				<td>May, 15,2021</td>
				<td>Yash</td>
			</tr>
			<tr>
				<td>3459 </td>
				<td>Not Delivery yet</td>
				<td>Derived from Latin dolorem ipsum (“pain itself”), Lorem Ipsum</td>
				<td>ON hold</td>
				<td>May, 15,2021</td>
				<td>Yash</td>
			</tr>
		</table>		
	</div>
	
	
		<button type="button" class = "nextButtonDesign" value="caption" onclick="" ><a href ="{% url 'ticketGenerator:generateNewTicket' %}">Next</a></button>
		
	
</div>
	
	
		{% endblock %}
