<!-- Welcome Commander What's New on your Creative Mind' -->

{% extends 'ticketGenerator/basic.html' %}
	{% block content %} 
	{% load static %}
	
<div class = "tableArea">

		 <img class = "img2" src="{% static 'ticketGenerator/IMAGES/shape.png'%}" alt="">
		  <img class = "img3" src="{% static 'ticketGenerator/IMAGES/takla.png'%}" alt="">
		  
	<div class = "offerBanner">
	<p>Today's Offer</p>
	</div>
	
		<img class = "img2" src="{% static 'ticketGenerator/IMAGES/shape2.png'%}" alt="">
	
</div>
	
	
		{% endblock %}
