<!-- Welcome Commander What's New on your Creative Mind' -->

{% extends 'ticketGenerator/basic.html' %}
	{% block content %} 
	{% load static %}
	
<div class = "tableArea">

		 <img class = "img2" src="{% static 'ticketGenerator/IMAGES/shape.png'%}" alt="">
		  <img class = "img3" src="{% static 'ticketGenerator/IMAGES/takla.png'%}" alt="">
		  
	<div class = "offerBanner">
	<p>Today's Offer</p>
	</div>
	
		<img class = "img2" src="{% static 'ticketGenerator/IMAGES/shape2.png'%}" alt="">
	<p class = "offNumber1">30%</p>
	<p class = "offNumber2">30%</p>
	<p class = "offNumber3">30%</p>
	<p class = "offText1">Offer</p>
	<p class = "offText2">Offer</p>
	<p class = "offText3">Offer</p>
	<p class = "offText4">Lorem ipsum dolor sit amet, consectetur</p>
	<p class = "offText5">Lorem ipsum dolor sit amet, consectetur</p>
	<p class = "offText6">Lorem ipsum dolor sit amet, consectetur</p>
	<img class = "img4" src="{% static 'ticketGenerator/IMAGES/offCheck.png'%}" alt="">
	<img class = "img5" src="{% static 'ticketGenerator/IMAGES/offCheck.png'%}" alt="">
	<img class = "img6" src="{% static 'ticketGenerator/IMAGES/offCheck.png'%}" alt="">
	<div class = "couponArea1">
		<img class = "img7" src="{% static 'ticketGenerator/IMAGES/logo.png'%}" alt="">
		<p class = "couponSuggesion">Coupon Code</p>
		<p class = "couponSuggesion1">Use this coupon code</p>
		<span id="pwd_spn" class="couponSuggesion2">ELE445</span>
		<button type="button" class = "getcode" value="caption" id="cp_btn" >Get Code</button>
		<script src="{% static 'ticketGenerator/JS/script.js'%}"></script>
		
	</div>
	<div class = "couponArea2">
		<img class = "img7" src="{% static 'ticketGenerator/IMAGES/logo.png'%}" alt="">
		<p class = "couponSuggesion">Coupon Code</p>
		<p class = "couponSuggesion1">Use this coupon code</p>
		<span id="pwd_spn1" class="couponSuggesion2">ELE445</span>
		<button type="button" class = "getcode" value="caption" id="cp_btn1" >Get Code</button>
		<script src="{% static 'ticketGenerator/JS/script.js'%}"></script>
	</div>
	<div class = "couponArea3">
		<img class = "img7" src="{% static 'ticketGenerator/IMAGES/logo.png'%}" alt="">
		<p class = "couponSuggesion">Coupon Code</p>
		<p class = "couponSuggesion1">Use this coupon code</p>
		<span id="pwd_spn2" class="couponSuggesion2">ELE445</span>
		<button type="button" class = "getcode" value="caption" id="cp_btn2" >Get Code</button>
		<script src="{% static 'ticketGenerator/JS/script.js'%}"></script>
	</div>
	
</div>
	
	
		{% endblock %}
