<!-- Welcome Commander What's New on your Creative Mind' -->
{% load static %}
<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">

	<meta name="description" content="The HTML5 Herald">
	<meta name="author" content="SitePoint">

	<link rel="stylesheet" href="{% static 'ticketApp/CSS/style.css'%}">
	<link rel="stylesheet" href="{% static 'ticketApp/CSS/bootstrap.css'%}">
	<script src="{% static 'ticketApp/JS/script.js'%}"></script>
	<script src="{% static 'ticketApp/JS/jquery.js'%}"></script>
	<script src="{% static 'ticketApp/JS/bootstrap.js'%}"></script>
	<link rel = "icon" href = "{% static 'ticketApp/IMAGES/logo.png'%}" type = "image/x-icon">
</head>
<body>
	
	
	
	
	{% block content %} {% endblock %}
</body>
</html>
