{% extends 'ticketApp/basic.html' %}
	{% block content %} 
	{% load static %}
	<head>

	<title>ele</title>
	

</head>
<body>
<div class = "backImage">
  <div class = "childBox">
<br>

	<table>
  <tr>
    <td rowspan="3">	<div class = "cartoonPic">
		<img class = "img1" src="{% static 'ticketApp/IMAGES/cartoonPic.png'%}" alt="">
	</div></td>
    <td><a href="#"><span><img class = "socialSite" src="{% static 'ticketApp/IMAGES/facebook-icone.png'%}" alt="facebook.com">&nbsp;facebook@facebook.com</span></a></td>
  </tr>
  <tr>
    <td><a href="#"><span><img class = "socialSite" src="{% static 'ticketApp/IMAGES/inst-icone.png'%}" alt=""></span></a>&nbsp;instagram@instagram.com</td>
  </tr>
  <tr>
    <td><a href="#"><span><img class = "socialSite" src="{% static 'ticketApp/IMAGES/tiwwe-icone.png'%}" alt=""></span></a>&nbsp;twiter@twitter.com</td>
  </tr>
</table>
	
	
	
</div>
</div>
</body>
</html>
	{% endblock %}
