{% extends 'ticketApp/basic.html' %}
	{% block content %} 
	{% load static %}
<head>

	<title>ele</title>
	

</head>
<body>
<div class = "backImage">
<header>
  <nav>
    <div class="logo">
      <img class = "img1" src="{% static 'ticketApp/IMAGES/logo.png'%}" alt="">
    </div>
    <button>Track</button>
    <ul>
      <li><a href="#">E-Booking</a></li>
      <li><a href="#">About us</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Contact Us </a></li>
      <li><a href="#">Reviews</a></li>
      <li><a href="#">My Account</a></li>
      <li><a href="#">Join Us</a></li>
    </ul>
  </nav>
  <div class="user-detail">
    <ul>
      <li><a href="#" class="login-back">log in</a></li>
      <li><a href="#">sing Up</a></li>
    </ul>
    
  </div>
  <div class = "childBox">
<br>

	<table>
  <tr>
    <td rowspan="3">	<div class = "cartoonPic">
		<img class = "img1" src="{% static 'ticketApp/IMAGES/cartoonPic.png'%}" alt="">
	</div></td>
    <td><a href="#"><span><img class = "socialSite" src="{% static 'ticketApp/IMAGES/facebook-icone.png'%}" alt="facebook.com">&nbsp;facebook@facebook.com</span></a></td>
  </tr>
  <tr>
    <td><a href="#"><span><img class = "socialSite" src="{% static 'ticketApp/IMAGES/inst-icone.png'%}" alt=""></span></a>&nbsp;instagram@instagram.com</td>
  </tr>
  <tr>
    <td><a href="#"><span><img class = "socialSite" src="{% static 'ticketApp/IMAGES/tiwwe-icone.png'%}" alt=""></span></a>&nbsp;twiter@twitter.com</td>
  </tr>
</table>
	
	
	
</div>
</header>

<div class="social-media-icone">
  <ul>
    <li><a href="#"><span><img src="{% static 'ticketApp/IMAGES/google-icone.png'%}" alt=""></span></a></li>
    <li><a href="#"><span><img src="{% static 'ticketApp/IMAGES/inp-licone.png'%}" alt=""></span></a></li>
    <li><a href="#"><span><img src="{% static 'ticketApp/IMAGES/inst-icone.png'%}" alt=""></span></a></li>
    <li><a href="#"><span><img src="{% static 'ticketApp/IMAGES/facebook-icone.png'%}" alt=""></span></a></li>
    <li><a href="#"><span><img src="{% static 'ticketApp/IMAGES/tiwwe-icone.png'%}" alt=""></span></a></li>
  </ul>
  

  
</div>

</body>
</html>
	{% endblock %}
